[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
python-dateutil = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
xlrd = "*"
lxml = "*"
scikit-learn = "*"
pyarrow = "*"
folium = "*"
jupyter = "*"
jupyterlab = "*"
ipykernel = "*"
jupyter-nbextensions-configurator = "*"
sympy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
